<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<h1> Cars and Cats Assignment Index Page.. Welcome!!  </h1> 


<a href= "/cats"> Go to Cats Page</a> <br>
<a href= "/cars"> Go to Cars Page</a>